
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<form action="~/Default/Create" method="post">
    <label>EName</label>
    <input type="text" name="EmpName" /><br />
    <label>Esalary</label>
    <input type="text" name="EmpSalary" /><br />
    <label>Department</label>
    <input type="text" name="DeptId" /><br />
    <input type="submit" value="Submit" />
</form>